.App {
  margin: 20px;
  font-size: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* TOGGLE */
.switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 45px;
  margin:15px 0;
  text-align: left;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border: 3px solid #f1c109;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 140px;
  left: 2px;
  bottom: 1px;
  border: 3px solid #008fb5;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-text {
  display: inline-block;
  color: #686767;
  margin: .1em 0;
  text-align: left;
  padding: 10px;
  font-size: .9rem;
}
.selected {
  font-weight: bold;
}
.right {
  float: right;
}
.right:after {
  clear: both;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(145px);
  -ms-transform: translateX(145px);
  transform: translateX(145px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 30px;
  opacity: .3
}

/* END TOGGLE */


.content {
  padding: 80px 40px;
  font: 14pt Arial;
  alignment-baseline: central;
  fill: rgb(151, 151, 151);
}
.gray {
  color: rgb(151, 151, 151) !important;
}
.lists div:nth-child(even) {
  color: rgb(0, 143, 181);
}
.lists div:nth-child(odd) {
  color: rgb(241, 193, 9);
}

.small {
  font-size: .8rem ;
}